/*
Syntax error: Undefined mixin 'buttonBackground'.
        on line 181 of scss/_bootstrap-icon.scss, in `buttonBackground'
        from line 181 of scss/_bootstrap-icon.scss
        from line 3 of scss/socialicious.scss

Backtrace:
scss/_bootstrap-icon.scss:181:in `buttonBackground'
scss/_bootstrap-icon.scss:181
scss/socialicious.scss:3
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/multi_listener.rb:86:in `call'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/multi_listener.rb:86:in `on_change'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/adapter.rb:162:in `call'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/adapter.rb:162:in `poll_changed_dirs'
/Users/shali/.rvm/gems/ruby-1.9.2-p290/gems/listen-0.4.7/lib/listen/adapters/darwin.rb:28:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'buttonBackground'.\A         on line 181 of scss/_bootstrap-icon.scss, in `buttonBackground'\A         from line 181 of scss/_bootstrap-icon.scss\A         from line 3 of scss/socialicious.scss"; }
