$bebo:#EE1010;
$bread:#00a4e4;
$dribbble:#EA4C89;
$facebook:#3B5998;
$flickr:#ED1E83;
$foursquare:#0cbadf;
$github:#000;
$googleplus:#303030;
$instagram:#3F729B;
$klout:#E24A25;
$lastfm:#A52F23;
$linkedin:#4875B4;
$pinterest:#CB2027;
$spotify:#75C044;
$tumblr:#45556B;
$twitter:#33CCFF;
$vevo:#DC2726;
$vimeo:#1FB7EA;
$wordpress:#464342;
$yelp:#CA3C27;
$youtube:#EB2629;